<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="projeto" value="SEU PROJETO"/>
    <add key="titulo" value="SUA ATIVIDADE"/>
    <add key="url" value="sra.softtek.com"/>
    <add key="login" value="LOGIN DO SRA"/>
    <add key="senha" value="SENHA DO SRA"/>
    <add key="email" value="SEU EMAIL DE RETORNO"/>
	<add key="firefoxPath" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>